<nb-card>
    <nb-card-header>Diagrama de sectores</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-lg-6">
                <app-echart-pie-generic [data]="data" [serieName]="serieName"></app-echart-pie-generic>
            </div>
            <div class="col-lg-6">
                <app-list-generic [data]="data" [mode]="constants.MODE_INLINE" [hideSubHeader]="false"
                    [actions]="chartsConstants.CHARTS_TABLE_ACTIONS" [btnAdd]="constants.BTN_ADD_INLINE"
                    [btnEdit]="constants.BTN_EDIT_INLINE" [btnDelete]="constants.BTN_DELETE_INLINE"
                    [columns]="chartsConstants.CHARTS_COLUMNS" (outputCreate)="createConfirm($event)"
                    (outputEdit)="editConfirm($event)" (outputDelete)="deleteConfirm($event)">
                </app-list-generic>
            </div>
        </div>
    </nb-card-body>
</nb-card>